<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>universities</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_BayState.png</string>
			<key>xy</key>
			<string>766,190</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_BERKLEE.png</string>
			<key>xy</key>
			<string>507,337</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_BU.png</string>
			<key>xy</key>
			<string>176,221</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Emerson.png</string>
			<key>xy</key>
			<string>898,222</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_EMMANUEL.png</string>
			<key>xy</key>
			<string>264,461</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_MCART.png</string>
			<key>xy</key>
			<string>333,560</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_MIT.png</string>
			<key>xy</key>
			<string>420,52</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NEU.png</string>
			<key>xy</key>
			<string>580,477</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_SIMMONS.png</string>
			<key>xy</key>
			<string>216,495</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_HarvardLesley.png</string>
			<key>xy</key>
			<string>280,7</string>
			<key>anchorPosition</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_HarvardMedical.png</string>
			<key>xy</key>
			<string>260,533</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Suffolk.png</string>
			<key>xy</key>
			<string>849,117</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_UMass.png</string>
			<key>xy</key>
			<string>656,677</string>
			<key>anchorPosition</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Wentworth.png</string>
			<key>xy</key>
			<string>412,533</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_Wheelock.png</string>
			<key>xy</key>
			<string>220,432</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>transit</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>297,89</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>288,174</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>279,262</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>303,344</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>275,427</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>412,337</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>423,455</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>427,517</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>526,512</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>524,409</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>619,210</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>665,187</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>721,302</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>808,320</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>850,335</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_bus_icon.jpg</string>
			<key>xy</key>
			<string>908,387</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>18,657</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>342,370</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>582,383</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>313,616</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_hubway_icon.png</string>
			<key>xy</key>
			<string>474,277</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_YAWKEY_icon.png</string>
			<key>xy</key>
			<string>520,208</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_icon.png</string>
			<key>xy</key>
			<string>22,180</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_LONGWOOD_icon.png</string>
			<key>xy</key>
			<string>0,380</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_MARY_icon.png</string>
			<key>xy</key>
			<string>180,180</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_BU_icon.png</string>
			<key>xy</key>
			<string>334,26</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_FENWAY_icon.png</string>
			<key>xy</key>
			<string>309,257</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_BLANFORD_icon.png</string>
			<key>xy</key>
			<string>520,115</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_KENMORE_icon.png</string>
			<key>xy</key>
			<string>695,182</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_HINES_icon.png</string>
			<key>xy</key>
			<string>913,360</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_T_SYMPHONY_icon.png</string>
			<key>xy</key>
			<string>932,670</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>retail</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>627,395</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>618,359</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>272,73</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>504,302</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>403,424</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>449,401</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>270,368</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>residential</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>45,200</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>591,175</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>909,284</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>711,207</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>69,592</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>455,266</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>287,399</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>474,412</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>584,363</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>wetland_fill</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_WetlandFill.png</string>
			<key>xy</key>
			<string>398,342</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_WetlandFill.png</string>
			<key>xy</key>
			<string>422,458</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>culture_rescource</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_CultureResource.png</string>
			<key>xy</key>
			<string>415,241</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_CultureResource.png</string>
			<key>xy</key>
			<string>422,298</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_CultureResource.png</string>
			<key>xy</key>
			<string>359,585</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_CultureResource.png</string>
			<key>xy</key>
			<string>528,624</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>6NewBridges</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>398,277</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>416,286</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>421,407</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>410,435</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewBridge.png</string>
			<key>xy</key>
			<string>393,555</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>11NewStations</key>
	<array>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>406,254</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>410,275</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>408,299</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>423,365</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>422,425</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>422,449</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>426,536</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>377,586</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>371,601</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>512,627</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>grfx_NewStation.png</string>
			<key>xy</key>
			<string>520,648</string>
			<key>anchorPosition</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>bridges</key>
	<array>
		<dict>
			<key>image</key>
			<string>br-138.png</string>
			<key>xy</key>
			<string>316,580</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-195.png</string>
			<key>xy</key>
			<string>327,559</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-anawan.png</string>
			<key>xy</key>
			<string>314,612</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-bolivar-st.png</string>
			<key>xy</key>
			<string>401,219</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-bridge st.png</string>
			<key>xy</key>
			<string>417,318</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-bridge-st.png</string>
			<key>xy</key>
			<string>370,359</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-brightman-st.png</string>
			<key>xy</key>
			<string>388,583</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-canedys.png</string>
			<key>xy</key>
			<string>409,521</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-cedar-grove.png</string>
			<key>xy</key>
			<string>532,602</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-cedar-swamp-river.png</string>
			<key>xy</key>
			<string>511,542</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-central-st.png</string>
			<key>xy</key>
			<string>340,539</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-clark.png</string>
			<key>xy</key>
			<string>440,501</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-clinton-st.png</string>
			<key>xy</key>
			<string>401,562</string>
			<key>anchorPosition</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-coal-yard-road.png</string>
			<key>xy</key>
			<string>327,245</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-coggeshall-st.png</string>
			<key>xy</key>
			<string>529,582</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-cove-st.png</string>
			<key>xy</key>
			<string>401,542</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-cowesset-brook.png</string>
			<key>xy</key>
			<string>332,276</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-days-farm-road.png</string>
			<key>xy</key>
			<string>417,260</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-deane-st.png</string>
			<key>xy</key>
			<string>465,590</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-forge-pond.png</string>
			<key>xy</key>
			<string>402,200</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-howland-rd.png</string>
			<key>xy</key>
			<string>527,561</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-I-195.png</string>
			<key>xy</key>
			<string>533,622</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-king-phillip.png</string>
			<key>xy</key>
			<string>434,378</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-logan-st.png</string>
			<key>xy</key>
			<string>529,648</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-main-st.png</string>
			<key>xy</key>
			<string>415,299</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-mill-brook.png</string>
			<key>xy</key>
			<string>402,241</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-mill-river-2.png</string>
			<key>xy</key>
			<string>431,426</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-nb-ramp.png</string>
			<key>xy</key>
			<string>381,598</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-new-st.png</string>
			<key>xy</key>
			<string>386,458</string>
			<key>anchorPosition</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-pond-st.png</string>
			<key>xy</key>
			<string>416,264</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-rt-138-grade-separation.png</string>
			<key>xy</key>
			<string>432,359</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-rt-140.png</string>
			<key>xy</key>
			<string>474,570</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-rt-24-79.png</string>
			<key>xy</key>
			<string>435,460</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-sawyer-st.png</string>
			<key>xy</key>
			<string>461,612</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-sb-ramp.png</string>
			<key>xy</key>
			<string>380,603</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-small-creek.png</string>
			<key>xy</key>
			<string>347,289</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-south-main-st-rt-79.png</string>
			<key>xy</key>
			<string>438,481</string>
			<key>anchorPosition</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-taunton-river-1.png</string>
			<key>xy</key>
			<string>356,408</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-taunton-river-2.png</string>
			<key>xy</key>
			<string>431,418</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-taunton-river-3.png</string>
			<key>xy</key>
			<string>356,422</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-thrasher-st.png</string>
			<key>xy</key>
			<string>432,399</string>
			<key>anchorPosition</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-totman-farm-road.png</string>
			<key>xy</key>
			<string>320,268</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-weaver-st.png</string>
			<key>xy</key>
			<string>346,519</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-weld-st.png</string>
			<key>xy</key>
			<string>531,641</string>
			<key>anchorPosition</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-western-express.png</string>
			<key>xy</key>
			<string>271,601</string>
			<key>anchorPosition</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-western-expressway-ramps.png</string>
			<key>xy</key>
			<string>281,499</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>image</key>
			<string>br-western-expressway-rt79.png</string>
			<key>xy</key>
			<string>296,478</string>
			<key>anchorPosition</key>
			<integer>5</integer>
		</dict>
	</array>
</dict>
</plist>
